<link rel="stylesheet" href="/css/main.css">
<div class="hello">
    <h1>Hi Friend it is Shake Up!</h1>
    <h2>Choose the ingredients, we will help with the recipe!</h2>
    <h3>@ViewBag.Message</h3>
</div>
<div class="cards">
    <a asp-action="Index" asp-controller="Alcohol">
        <div class="card red">
            <h1>Alcohol</h1>
            <img src="/icon/acohol.svg" alt="">
        </div>
    </a>
    <div class="card blue">
        <h1>Classic</h1>
        <img src="/icon/classic.svg" alt="">
    </div>
    <div class="card green">
        <h1>Custom</h1>
        <img src="/icon/custom.svg" alt="">
    </div>
    <div class="card fourth">
        <h1>MY</h1>
        <img src="/icon/my.svg" alt="">
    </div>
</div>