<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>ShakeUp</title>
</head>

<body>
    <div class="container">
        <header>

            <div class="nav">
                <a href="#" class="logo"><img class="logo" src="icon/Logo.svg" alt="SVG image"></a>

                <button class="bottone1"><strong>Alcohol</strong></button>
                <button class="bottone1"><strong>Classic</strong></button>
                <button class="bottone1"><strong>User Cocktails</strong></button>
                <button class="bottone1"><img class="icon" src="icon/User.svg" alt="SVG image"></button>
                <button class="bottone1"><img class="icon" src="icon/Exit.svg" alt="SVG image"></button>



            </div>
        </header>
        <section class="content">
            @RenderBody()
        </section>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
