@using ShakeUp.Data.Enum
@using ShakeUp.ViewModels
@model AlcoholVM


<link rel="stylesheet" href="/css/create.css">
<div class="create_form">
    <h1>Create Alcohol</h1>
    <form asp-action="CreateAlcohol" enctype="multipart/form-data" method="post" class="create">
        <div>
            <label for="usernameField" class="usernamelabel label">Name Alcohol</label>
            <input asp-for="Name" type="text" class="inputs" id="name" oninput="updateTitle()"
                   required="required">
        </div>
        <div>
            <label for="usernameField" class="usernamelabel label">Description Alcohol</label>
            <input asp-for="Description" type="text" class="inputs" id="description" oninput="updateDescription()"
                   required="required">
        </div>
        <div>
            <label class="usernamelabel label">Degree Alcohol</label>
            <input asp-for="Degree" min="0" max="100" type="number" class="inputs" id="degree"
                   required="required">
        </div>
        <div>
            <h1 style="color:red;">@ViewBag.Message</h1>
            <label class="usernamelabel label">Photo Alcohol Type: .svg</label>
            <input type="file" accept="image/svg+xml" name="fileUpload" onchange="previewImage(event)" style="width:100%;"/>
        </div>
        <div>
            <label for="usernameField" class="usernamelabel label">Choose color background</label>
            <input asp-for="BackgroundColor" type="color" value="#FFB395" id="colorPicker" oninput="changeBackground()">

        </div>
        <button class="formsumb">Button</button>
    </form>

</div>
<div class="card">
    <div class="card-img" id="myBlock">
    </div>
    <div class="card-info">
        <p class="text-title" id="product-title">Product title </p>
        <p class="text-body" id="product-description">Product description and details</p>
    </div>
    <div class="card-footer">
        <button class="button">
            Hover me :)
        </button>
    </div>
</div>

<script src="/js/create_alcohol.js"></script>
