
    <link rel="stylesheet" href="/css/alcohol.css">
<div class="search-filters">
    <div class="search">
        <input type="text">
        <button><img src="/icon/search.svg" alt="SVG image"></button>
    </div>
    <div class="filters">
        <h1>Filters</h1>
        <div class="line"></div>
        <div class="level">
            <h2>Level</h2>
            <label>
                <input type="radio" name="difficulty" value="easy">
                Easy
            </label>
            <label>
                <input type="radio" name="difficulty" value="normal">
                Normal
            </label>
            <label>
                <input type="radio" name="difficulty" value="hard">
                Hard
            </label>
        </div>
        <div class="alcohol-filter">
            <h2>Alcohol</h2>
            <select id="cars" name="cars">
                <option value="none">None</option>
                <option value="vodka">Vodka</option>
                <option value="whiskey">Whiskey</option>
                <option value="gin">Gin</option>
            </select>
        </div>
        <div class="level">
            <h2>Taste</h2>
            <label>
                <input type="radio" name="taste" value="sweet">
                Sweet
            </label>
            <label>
                <input type="radio" name="taste" value="spicy">
                Spicy
            </label>
            <label>
                <input type="radio" name="taste" value="sour">
                Sour
            </label>
            <label>
                <input type="radio" name="taste" value="sweet-sour">
                Sweet-Sour
            </label>
            <label>
                <input type="radio" name="taste" value="bitter">
                Bitter
            </label>
        </div>
    </div>
</div>
<ul class="cards">
    <li>
        <div class="card">
            <div class="card-img">
                <img src="/icon/glass/HSI/HSI12.svg" alt="">
            </div>
            <div class="card-info">
                <p class="text-title">Product title </p>
                <p class="text-body">Product description and details</p>
            </div>
            <div class="card-footer">
                <button class="button">
                    Hover me :)
                </button>
            </div>
        </div>
    </li>
    <li>
        <div class="card">
            <div class="card-img">
                <img src="/icon/glass/HSI/HSI6.svg" alt="">
            </div>
            <div class="card-info">
                <p class="text-title">Product title </p>
                <p class="text-body">Product description and details</p>
            </div>
            <div class="card-footer">
                <button class="button">
                    Hover me :)
                </button>
            </div>
        </div>
    </li>
    <li>
        <div class="card">
            <div class="card-img">
                <img src="/icon/glass/HSI/HSI11.svg" alt="">
            </div>
            <div class="card-info">
                <p class="text-title">Product title </p>
                <p class="text-body">Product description and details</p>
            </div>
            <div class="card-footer">
                <button class="button">
                    Hover me :)
                </button>
            </div>
        </div>
    </li>
    <li>
        <div class="card">
            <div class="card-img">
                <img src="/icon/glass/HSI/HSI2.svg" alt="">
            </div>
            <div class="card-info">
                <p class="text-title">Product title </p>
                <p class="text-body">Product description and details</p>
            </div>
            <div class="card-footer">
                <button class="button">
                    Hover me :)
                </button>
            </div>
        </div>
    </li>
</ul>